################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net10.0
/obj
/.github/copilot-instructions.md
/SolarSystem.Tests/bin/Debug/net10.0
/SolarSystem.Tests/obj
/SolarSystem.csproj.Backup.tmp
/bin/Release/net10.0
